# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log
backend/server.log

# Node
node_modules/
dist/
dist-ssr/

# IDEs
.vscode/
.idea/
.DS_Store
